{{ partial:partials/headerwhiteminimal }}

<div class="container mx-auto rale tracking-tighter mt-12 relative z-10">
  <div class="flex justify-start md:max-w-3xl px-4 md:px-0">
    <h1 class="text-4xl w-full bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent py-4 ">
      <span class="font-bold">Dati riguardanti l'ambiente neoassunti</span> <br> 
      {{ title }}
    </h1>
  </div>
</div>




<div class="container mx-auto  gap-6 rale tracking-tighter mt-6 rounded-xl bg-white shadow-2xl  p-10 z-10 relative">


<section class="inline-block mb-10 w-full border-b pb-8">
  <div class="flex items-center relative">
    <h1 class="mb-4 text-3xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-purple-600 from-purple-400 font-bold">Utenti</span> della piattaforma</h1>
  </div>

  <div class="grid md:grid-cols-2 md:gap-6 relative z-10 ">
    <div class="md:p-6 items-center md:grid md:grid-cols-2 md:divide-x divide-purple-300">
      
      <div class="flex items-center justify-center">
        <h4 class=" text-2xl text-purple-600">
          {{ utenti_piattaforma }}
            {{ select }}
              {{ if select == 'docenti-iscritti' }}
                {{ numero }}
              {{ /if }}
            {{ /select }}
          {{ /utenti_piattaforma }}
        </h4>
      </div>
      <div class="flex items-center justify-center">
        <p class="text-2xl">
          <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">Docenti</strong> iscritti
        </p>
      </div>
    </div>
    


    <div class="md:p-6 items-center md:grid md:grid-cols-2 md:divide-x divide-purple-300">
      <div class="flex items-center justify-center">
        <h4 class=" text-2xl text-purple-600">
          {{ utenti_piattaforma }}
            {{ select }}
              {{ if select == 'tutor-iscritti' }}
                {{ numero }}
              {{ /if }}
            {{ /select }}
          {{ /utenti_piattaforma }}
      </h4>
        </h4>
      </div>
      <div class="flex items-center justify-center">
        <p class="text-2xl">
          <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">Tutor</strong> associati 
        </p>
     </div>
    </div>
  </div>
</section>



<section class="inline-block mb-20 border-b pb-8 w-full">
  <div class="flex items-center">
  
    <h1 class="mb-4 text-3xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-purple-600 from-purple-400 font-bold">  Dati </span> sui bilanci</h1>

  </div>


{{ dati_sui_bilanci }}
  {{ select }}
  {{ if select == 'numero-esperienze' }}
      <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
        <div class="flex items-center justify-center  col-span-1">
          <h4 class=" text-2xl text-purple-600">
            {{ numero }}
          </h4>
        </div>
        <div class="flex items-center col-span-5">
          <p class="text-xl text-left pl-3 text-gray-600">
            Il numero di  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">esperienze</strong> inserite dai docenti nell'ambiente neoassunti nella sezione "Curriculum formativo"
          </p>
        </div>
      </div>
  {{ /if }}
  {{ /select }}
{{ /dati_sui_bilanci }}



{{ dati_sui_bilanci }}
  {{ select }}
  {{ if select == 'bilanci-iniziali-lavorazione' }}
  
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  ">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>
      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          I bilanci iniziali in  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">lavorazione</strong> nell'ambiente 
        </p>
      </div>
    </div>

  {{ /if }}
  {{ /select }}
{{ /dati_sui_bilanci }}



{{ dati_sui_bilanci }}
  {{ select }}
  {{ if select == 'bilanci-iniziali-inviati' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          I bilanci iniziali  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">inviati</strong> definitivamente
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati_sui_bilanci }}


{{ dati_sui_bilanci }}
  {{ select }}
  {{ if select == 'bilanci-finali-e-bisogni-formativi-futuri-in-lavorazione' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          I bilanci finali e bisogni formativi futuri in  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">lavorazione</strong>
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati_sui_bilanci }}


{{ dati_sui_bilanci }}
  {{ select }}
  {{ if select == 'bilanci-finali-e-bisogni-formativi-futuri-inviati-definitivamente' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          I bilanci finali e bisogni formativi futuri  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">inviati</strong> definitivamente
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati_sui_bilanci }}
  
</section>



<section class="inline-block mb-20 border-b pb-8 w-full">
  <div class="flex items-center">

    <h1 class="mb-4 text-3xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-purple-600 from-purple-400 font-bold">  Dati </span> sui questionari</h1>

  </div>

  {{ dati_sui_questionari }}
  {{ select }}
    {{ if select == 'questionari-in-lavorazione' }}
    <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
      <div class="flex items-center justify-center  col-span-1">
          <h4 class=" text-2xl text-purple-600">
            {{ numero }}
          </h4>
        </div>

        <div class="flex items-center col-span-5">
          <p class="text-xl md:text-left pl-3 text-center">
            I questionari in  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">lavorazione</strong> nell'ambiente
          </p>
        </div>
      </div>
    {{ /if }}
  {{ /select }}
{{ /dati_sui_questionari }}


{{ dati_sui_questionari }}
  {{ select }}
  {{ if select == 'questionari-inviati' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          I questionari  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">inviati</strong> definitivamente
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati_sui_questionari }}


{{ dati_sui_questionari }}
  {{ select }}
  {{ if select == 'questionari-tutor-in-lavorazione' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          I questionari tutor in <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">lavorazione</strong> 
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati_sui_questionari }}


{{ dati_sui_questionari }}
  {{ select }}
  {{ if select == 'questionari-tutor-inviati' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          I questionari tutor <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">inviati</strong> definitivamente
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati_sui_questionari }}


</section>




<section class="inline-block mb-20 border-b pb-8 w-full">
  <div class="flex items-center">
    
    <h1 class="mb-4 text-3xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-purple-600 from-purple-400 font-bold">  Laboratori  </span> e Visite</h1>

  </div>


{{ dati-sui-laboratori }}
  {{ select }}
  {{ if select == 'laboratori-formativi-documentati' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          Esperienze di tipo  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">LABORATORIO</strong>  inserite
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati-sui-laboratori }}


{{ dati-sui-laboratori }}
  {{ select }}
  {{ if select == 'esperienze-di-tipo-visita-inserite' }}
  <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
    <div class="flex items-center justify-center  col-span-1">
        <h4 class=" text-2xl text-purple-600">
          {{ numero }}
        </h4>
      </div>

      <div class="flex items-center col-span-5">
        <p class="text-xl md:text-left pl-3 text-center">
          Esperienze di tipo  <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">VISITA</strong> inserite
        </p>
      </div>
    </div>
  {{ /if }}
  {{ /select }}
{{ /dati-sui-laboratori }}


</section>


{{ if dossier-finale }}
  <section class="inline-block mb-20 w-full ">
    <div class="flex items-center">

      <h1 class="mb-4 text-3xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-purple-600 from-purple-400 font-bold">   Dossier   </span> finali</h1>

    </div>


  {{ dossier-finale }}
    {{ select }}
    {{ if select == 'dossier-finali' }}
    <div class="py-6 px-0 items-center flex space-x-1 relative z-10  bg-opacity-80">
      <div class="flex items-center justify-center  col-span-1">
          <h4 class=" text-2xl text-purple-600">
            {{ numero }}
          </h4>
        </div>

        <div class="flex items-center col-span-5">
          <p class="text-xl md:text-left pl-3 text-center">
            I dossier <strong class="bg-gradient-to-r from-purple-800 to-purple-800 bg-clip-text text-transparent">finali</strong> esportati definitivamente nell'ambiente.
          </p>
        </div>
      </div>
    {{ /if }}
    {{ /select }}
  {{ /dossier-finale }}
  {{ /if }}



</section>

















</div>



<section class="mt-4">
  {{ partial:partials/footer  }}
</section>
