<main class="relative z-10">
    <div class="flex flex-col border-b border-gray-200 lg:border-0 !shadow-xl bg-white">
        <nav aria-label="Offers" class="order-last lg:order-first">
            <div class="container mx-auto rale">
                <ul
                    role="list"
                    class="grid grid-cols-1 divide-y divide-purple-200 lg:grid-cols-3 lg:divide-y-0 lg:divide-x">


                    <li class="flex flex-col justify-center items-center">
                        {{ collection:news limit="1" categoria:is="news" sort="date:desc"  }}
                            <a
                                href="{{ url }}"
                                class="relative  flex flex-col justify-start bg-white py-6 px-0 text-center md:text-left focus:z-10"
                            >

                            <div class="flex items-center justify-center">
                                <p class="text-xs text-purple-800 font-bold bg-purple-100 px-3 py-1 rounded-full">Ultima news</p>
                            </div>

                            <p class="text-black text-md mt-2 text-center">
                               {{ title }}
                            </p>
                                
                        {{ /collection:news }}
                        </a>
                    </li>

                    <li class="flex flex-col">
                        <div
                            class="relative flex flex-col justify-center items-center bg-white py-6 px-4 text-center focus:z-10"
                        >
                      
                            <div class="flex">
                                <p class="text-xs text-purple-800 font-bold bg-purple-100 px-3 py-1 rounded-full">
                                    Dati della formazione

                                </p>
                            </div>
                            <div class="text-black text-md mt-2 text-center">
                                {{ collection:dati scope="dato" limit="1"
                                sort="data_della_formazione:desc"}}
                                <a
                                    class="leading-tight "
                                    href="{{ url }}"
                                >
                                    {{ dato:title }} 
                                </a>
                                {{ /collection:dati }}
                            </div>
                        </div>
                    </li>

                    <li class="flex flex-col">
                        {{ collection:news limit="1"
                        sort="date:desc"
                        categoria:is="approfondimento" }}
                        <a
                            href="{{ url }}"
                            class="relative flex-1 flex flex-col justify-center bg-white py-6 px-4 text-center focus:z-10"
                        >

                        <div class="flex justify-center">
                            <p class="text-xs text-purple-800 font-bold bg-purple-100 px-3 py-1 rounded-full">
                                Ultimo Approfondimento

                            </p>
                        </div>
                           
                            <p class="text-black text-md mt-2 text-center">
                                {{ title }}
                            </p>
                            {{ /collection:news }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</main>

