
{{ if elenco }}


  <div class="grid md:grid-cols-3 rale gap-6">
    {{ elenco }}

    <div class="flex flex-col">

      <div class="flex space-x-2">
        <div class="w-6">
          {{ icona }}
            <img src="{{ glide:url width="100%" format="webp" quality="70" }}" alt="{{ alt }}">
          {{ /icona }}
        </div>
  
        <div class="text-lg font-bold">
          {{ titolo }}
        </div>
      </div>

      <div>
        {{ descrizione }}
      </div>

    </div>

  {{ /elenco }}
  </div>


{{ /if }}