<div class="container mx-auto max-w-7xl leading-relaxed rale">
    <div class="{{ spaziatura }} flex {{ if numero }} space-x-4 md:space-x-0 {{ else }}  space-x-0 {{ /if }} items-center  relative mano text-4xl md:text-3xl ">
      <p class="text-8xl md:absolute  top-0 transform md:-translate-y-10 {{ if numero < 10 }} md:-translate-x-16 {{ else }} md:-translate-x-28 {{ /if }} text-green-500">
        {{ numero }}
      </p>   
      <h4 class="w-full tracking-tight bg-gradient-to-r from-green-500  to-green-600  bg-clip-text text-transparent">
        {{ titolo }}
      </h4>
    </div>
</div>