{{ if stack }}
<div class="container mx-auto md:max-w-7xl leading-relaxed rale py-6">
    <div class="grid {{dimensione_grid}} gap-4">
      {{ stack }}
        <div class="
        {{ if tecnologia == 'statamic' }} bg-pink-50 {{ /if }}
        {{ if tecnologia == 'tailwind' }} bg-blue-50 {{ /if }}
        {{ if tecnologia == 'alpinejs' }} bg-blue-100 {{ /if }}
        {{ if tecnologia == 'snipcart' }} bg-yellow-50 {{ /if }}
        {{ if tecnologia == 'gsap' }} bg-green-300 {{ /if }}
        {{ if tecnologia == 'vuejs' }} bg-green-600 {{ /if }}
        {{ if tecnologia == 'cypress' }} bg-gray-200 {{ /if }}
        {{ if tecnologia == 'zapier' }} bg-orange-200 {{ /if }}
        {{ if tecnologia == 'ploi' }} bg-indigo-300 {{ /if }}
        {{ if tecnologia == 'getform' }} dark:bg-gray-900 bg-gray-600 {{ /if }}
        {{ if tecnologia == 'threejs' }} bg-blue-300 {{ /if }}
        {{ if tecnologia == 'swiper' }} bg-purple-700 {{ /if }}
        p-4 flex items-center justify-center">
          
        <div class="flex items-center justify-center flex-col">
          <p class="
          {{ if tecnologia == 'statamic' }} ring-pink-200 bg-pink-50 text-pink-400 {{ /if }}
          {{ if tecnologia == 'tailwind' }} ring-blue-200 bg-blue-50 text-blue-400 {{ /if }}
          {{ if tecnologia == 'alpinejs' }} ring-blue-300 bg-blue-100 text-blue-500 {{ /if }}
          {{ if tecnologia == 'snipcart' }} ring-yellow-300 bg-yellow-100 text-yellow-500 {{ /if }}
          {{ if tecnologia == 'gsap' }} ring-green-300 bg-green-100 text-green-500 {{ /if }}
          {{ if tecnologia == 'vuejs' }} ring-green-400 bg-green-200 text-green-600 {{ /if }}
          {{ if tecnologia == 'cypress' }} ring-gray-300 bg-gray-100 text-gray-500 {{ /if }}
          {{ if tecnologia == 'zapier' }} ring-orange-300 bg-orange-100 text-orange-500 {{ /if }}
          {{ if tecnologia == 'ploi' }} ring-indigo-300 bg-indigo-100 text-indigo-500 {{ /if }}
          {{ if tecnologia == 'getform' }} ring-gray-700 bg-gray-700 text-gray-400 {{ /if }}
          {{ if tecnologia == 'threejs' }} ring-blue-300 bg-blue-600 text-white {{ /if }}
          {{ if tecnologia == 'swiper' }} ring-purple-300 bg-purple-600 text-purple-300 {{ /if }}
          ring-1 text-center rounded-full  font-bold px-1.5 uppercase text-2xs inline-block ">
            {{ tipo }}
          </p>

          <p class="
          {{ if tecnologia == 'statamic' }}  text-pink-500 {{ /if }}
          {{ if tecnologia == 'tailwind' }} text-blue-400 {{ /if }}
          {{ if tecnologia == 'alpinejs' }}  text-blue-500 {{ /if }}
          {{ if tecnologia == 'snipcart' }} text-yellow-500 {{ /if }}
          {{ if tecnologia == 'gsap' }} text-green-500 {{ /if }}
          {{ if tecnologia == 'vuejs' }} text-white {{ /if }}
          {{ if tecnologia == 'cypress' }} text-gray-500 {{ /if }}
          {{ if tecnologia == 'zapier' }} text-orange-500 {{ /if }}
          {{ if tecnologia == 'ploi' }} text-indigo-500 {{ /if }}
          {{ if tecnologia == 'getform' }} text-gray-400 {{ /if }}
          {{ if tecnologia == 'threejs' }} text-blue-600 {{ /if }}
          {{ if tecnologia == 'swiper' }} text-purple-300 {{ /if }}
          mt-2 font-bold text-center">
            {{ tecnologia:label }}
          </p>
        </div>

        </div>
      {{ /stack }}
    </div>
</div>
{{ /if}}